@tailwind base;
@tailwind components;
@tailwind utilities;
.nav-gradient {
  background: linear-gradient(
    to right, 
    #000000 0%, 
    #2563eb 50%, 
    #ffffff 100%
  );
  backdrop-filter: blur(12px);
}
